<h2>Student Profile</h2>
<table border="1">
  <tr>
    <th>Student ID</th>
    <td>{{ student_info.studentID }}</td>
  </tr>
  <tr>
    <th>Name</th>
    <td>{{ student_info.name }}</td>
  </tr>
  <tr>
    <th>Department ID</th>
    <td>{{ student_info.deptID }}</td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td>{{ student_info.phnNo }}</td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td>{{ student_info.dob }}</td>
  </tr>
  <tr>
    <th>Personal Email</th>
    <td>{{ student_info.personalMail }}</td>
  </tr>
  <tr>
    <th>Section</th>
    <td>{{ student_info.section }}</td>
  </tr>
  <tr>
    <th>Date of Joining</th>
    <td>{{ student_info.date_of_joining }}</td>
  </tr>
  <tr>
    <th>Father's Name</th>
    <td>{{ student_info.fathername }}</td>
  </tr>
  <tr>
    <th>Mother's Name</th>
    <td>{{ student_info.mothername }}</td>
  </tr>
  <tr>
    <th>Father's Phone</th>
    <td>{{ student_info.fatherphn }}</td>
  </tr>
  <tr>
    <th>Mother's Phone</th>
    <td>{{ student_info.motherphn }}</td>
  </tr>
  <tr>
    <th>Father's Occupation</th>
    <td>{{ student_info.father_occupation }}</td>
  </tr>
  <tr>
    <th>Mother's Occupation</th>
    <td>{{ student_info.mother_occupation }}</td>
  </tr>
  <tr>
    <th>Father's Education</th>
    <td>{{ student_info.fatherEducation }}</td>
  </tr>
  <tr>
    <th>Mother's Education</th>
    <td>{{ student_info.motherEducation }}</td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ student_info.address }}</td>
  </tr>
  <tr>
    <th>Hostel/Day Scholar</th>
    <td>{{ student_info.hostel_or_dayScholar }}</td>
  </tr>
  <tr>
    <th>College Bus</th>
    <td>{{ student_info.collegeBus }}</td>
  </tr>
  <tr>
    <th>Aadhar Number</th>
    <td>{{ student_info.aadharNo }}</td>
  </tr>
  <tr>
    <th>Fee Reimbursement</th>
    <td>{{ student_info.fee_reimbursement }}</td>
  </tr>
</table>
<br><br>
<div>
  {% if results_by_semester %}
  <h2>Semester-wise Results</h2>
  {% for semester, results in results_by_semester.items %}
  <h3>Semester {{ semester }}</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ result.courseName }}</td>
        <td>{{ result.grade }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %} {% else %}
  <p>No results found for this student.</p>
  {% endif %}
</div>
</div>